VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Internet Archive S3 API Keys (Get these from https://archive.org/account/s3.php)
VITE_IA_ACCESS_KEY=your_ia_access_key
VITE_IA_SECRET_KEY=your_ia_secret_key

